:root{
    --font-color: white;
    --font-color-dark: black;
    --hyperlink-color: white;
    --button-color: #596D48;
    --input-border-color: #E5E7EB;
    --input-focus-border-color: rgb(45, 71, 157);
    --input-focus-shadow-color: rgb(161, 161, 161);
    --input-error-color: rgb(255, 68, 68);
}

*{
    margin: 0;
    color: var(--font-color-dark);
    font-size: 12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
label{
    font-size: 0.8rem;
}

a {
    color: var(--hyperlink-color);
}
button {
    background-color: var(--button-color);
    border: 0;
    padding: 10px;
    border-radius: 5px;
    color: var(--font-color)
}
#main-flex-container{
    display: flex;
    width: 80%;
    height: 100vh;
    
}
#left-flex-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 3;
    background: url(halie-west-25xggax4bSA-unsplash.jpg);    
    background-size:cover;
}
#left-flex-item div:last-child{
    color: var(--font-color);
    text-align: center;
}
#left-flex-item div:last-child p{
    color: var(--font-color);
    text-align: center;
}
#left-flex-item > div {
    color: var(--font-color);
}

@font-face {
    font-family: Norse Bold;
    src: url(Fonts/Norse-Bold.otf);
}
#logo-flex-item{
    display: flex;
    font-family: 'Norse Bold', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

#right-flex-item{
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: space-evenly;
}
#space-flex-item{
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8);
}

#input-section{
    display: flex;
    flex-direction: column;

}
#input-section > div{
    display: flex;
    flex:1;

}

#input-section > div > div {
    display: flex;
    padding-right: 40px;
    padding-bottom: 20px;
    flex-direction: column;
}
#passwordinstruction{
    visibility: visible;
}
#input-section > div > div > input {
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
}

#input-section > div > div > input:focus{
    outline: none;
    border: 1px solid var(--input-focus-border-color);
    box-shadow: 1px 1px var(--input-focus-shadow-color);
}

#input-section > div > div > input:invalid{
    border-color: var(--input-error-color);
}